/*$navy: #38404a;*/
/*$navy-light: #696D70;*/
/*$blue: #2E67BF;*/
/*$blue-hover: #1D456B;*/

/*$mobilewidth: 812px;*/

/*$sm-screen: 576px;*/
/*$md-screen: 768px;*/
/*$lg-screen: 992px;*/
/*$xl-screen: 1200px;*/

/*$spacing: 1em;*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.expand-sidebar {
  padding: 8px 5px;
  border: 1px solid var(--rs-divider-border);
  display: flex;
  justify-content: center;
}

.sidebar {
  background: var(--rs-sidenav-default-bg);
  box-shadow: var(--rs-drawer-shadow);
  border-left: 1px solid var(--rs-border-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: none;
}

.sidebar.expanded {
  width: 300px;
  padding: 20px;
}

.sidebar.collapsed {
  width: 60px;
  padding: 8px 8px 20px;
  align-items: center;
}

.sidebar .collapse-sidebar {
  text-align: right;
  color: var(--rs-btn-default-text);
}

.sidebar.collapsed .rs-slider {
  max-height: 200px;
}

.landscape {
  background-color: #1b446c;
  overflow: auto;
  font-size: 12px;
  line-height: 1.1;
}

.white-link {
  color: white;
}

.hidden {
  display: none !important;
}

/*.oss img {background: white;}*/
/*.nonoss img {background: #E4E4E4;}*/
