/*$navy: #38404a;*/
/*$navy-light: #696D70;*/
/*$blue: #2E67BF;*/
/*$blue-hover: #1D456B;*/

/*$mobilewidth: 812px;*/

/*$sm-screen: 576px;*/
/*$md-screen: 768px;*/
/*$lg-screen: 992px;*/
/*$xl-screen: 1200px;*/

/*$spacing: 1em;*/

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.landscape-wrapper {
  overflow: auto;
  display: flex;
  align-items: flex-start;
}

.landscape-header-body {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.landscape-header-item {
  display: flex;
  align-items: center;
}

.landscape-header-item-image {
  width: 25%;
}

.landscape-header-item-image img {
  height: 100%;
}

.landscape-header-item-html {
  width: 50%;
  justify-content: center;
}

.landscape-footer-body {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.landscape-footer-body a {
  color: inherit;
  text-decoration: underline;
}

.landscape-footer-item {
  display: flex;
  align-items: center;
}

.expand-sidebar {
  padding: 8px 5px;
  border: 1px solid var(--rs-divider-border);
  display: flex;
  justify-content: center;
}

.sidebar {
  background: var(--rs-sidenav-default-bg);
  box-shadow: var(--rs-drawer-shadow);
  border-left: 1px solid var(--rs-border-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: none;
}

.sidebar.expanded {
  width: 300px;
  padding: 20px;
}

.sidebar.collapsed {
  width: 60px;
  padding: 8px 8px 20px;
  align-items: center;
}

.sidebar .collapse-sidebar {
  text-align: right;
  color: var(--rs-btn-default-text);
}

.sidebar.collapsed .rs-slider {
  max-height: 200px;
}

.sidebar-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar .zoom-slider {
  margin: 5px 10px;
}

.sidebar .reset-filters {
  text-align: right;
}

.rs-modal-body {
  min-height: 500px;
  display: flex;
  gap: 25px;
}

.modal-left-column {
  width: 33%;
}

.rs-modal-body .modal-image {
  width: 250px;
  height: 200px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  cursor: default;
}

.rs-modal-body .modal-image .landscape-item-body {
  width: 100%;
  height: 100%;
}

.rs-modal-body .modal-image .landscape-item-body img {
  padding: 5px;
}

.rs-modal-content .rs-modal-header .rs-modal-header-close {
  font-size: 16px;
  line-height: 16px;
  width: 16px;
  height: 16px;
  padding: 0;
}

.rs-modal-body h1,
.rs-modal-body h2,
.rs-modal-body h3,
.rs-modal-body h4,
.rs-modal-body h5 {
  line-height: 1.2;
  margin-bottom: 10px;
}

.rs-modal-body {
  font-size: 16px;
}

.rs-modal-body .description {
  font-size: 18px;
}

.rs-modal-body .links {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px 10px;
}

.rs-modal-body .item-label {
  font-weight: bold;
}

.margin-top {
  margin-top: 15px;
}
