/*$navy: #38404a;*/
/*$navy-light: #696D70;*/
/*$blue: #2E67BF;*/
/*$blue-hover: #1D456B;*/

/*$mobilewidth: 812px;*/

/*$sm-screen: 576px;*/
/*$md-screen: 768px;*/
/*$lg-screen: 992px;*/
/*$xl-screen: 1200px;*/

/*$spacing: 1em;*/

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.landscape-wrapper {
  overflow: auto;
  display: flex;
  align-items: flex-start;
}

.expand-sidebar {
  padding: 8px 5px;
  border: 1px solid var(--rs-divider-border);
  display: flex;
  justify-content: center;
}

.sidebar {
  background: var(--rs-sidenav-default-bg);
  box-shadow: var(--rs-drawer-shadow);
  border-left: 1px solid var(--rs-border-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: none;
}

.sidebar.expanded {
  width: 300px;
  padding: 20px;
}

.sidebar.collapsed {
  width: 60px;
  padding: 8px 8px 20px;
  align-items: center;
}

.sidebar .collapse-sidebar {
  text-align: right;
  color: var(--rs-btn-default-text);
}

.sidebar.collapsed .rs-slider {
  max-height: 200px;
}

.sidebar-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar .zoom-slider {
  margin: 5px 10px;
}

.sidebar .reset-filters {
  text-align: right;
}

.rs-modal-body {
  min-height: 500px;
  display: flex;
}

.modal-left-column {
  width: 33%;
}

.modal-image {
  width: 250px;
  height: 200px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.modal-image {
  flex: 1;
}

/* Landscape overrides */
body .landscape {
  color: white;
}

.landscape {
  background-color: #1b446c;
}

.landscape .landscape-category {
  background: #0086ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.landscape .landscape-subcategory-title {
  color: #272c36;
}
